# Python cache-bestanden
__pycache__/
*.pyc

# Omgevingsbestanden
.env
.secrets
.secrets.toml
.streamlit/secrets.toml
config.toml

# Data & exportmappen (lokale testbestanden)
data/
data/.bak/
data/export/

# Resources/screenshots (grote bestanden)
resources/screens/
resources/screenshots/

# OS/IDE
.DS_Store
.vscode/
.idea/
